.modal .kt-portlet, .modal .kt-portlet--mobile {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.margin-bottom-15{
   margin-bottom:15px!important;
}

#search-bar div[class^="col"]{
    padding:1px;
}

#search-bar div[class^="col"] select{
    height:32px;
    line-height:32px;
    padding:0px;
    padding-left:8px;
    font-size:11px;
}

.note-ext-faicon-list {
    display: block;
    width: 205px;
    height: 200px;
    overflow: auto;
    padding-left: 5px;
}

.note-ext-faicon-list button {
    border: 1px solid #999;
    border-radius: 5px;
    color: #333;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 16px;
}

.note-ext-faicon-list button:hover {
    background-color: #fff;
}


.note-ext-faicon-search {
    margin: 5px;
}

.note-editable div.row{
    border:1px solid rgba(201,0,0,0.1);
    margin:5px 0px 5px;
    padding:5px;
}

.note-editable div[class^='col-']{
    border:1px solid rgba(0,0,0,0.2);
}

li.divider{
    text-align:center;
    color:#e9e9e9;
}

ul.grid-selector{
    margin-top:100px;
    width:500px;
}